body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    width: max(max-content, 100vw);
    margin: 0 10px;
    padding: 0;
}

.team-row {
    display: flex;
    align-items: center;
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.team-right {
    display: flex;
}

.team-col {
    margin-right: 20px;
}

.team-mark i {
    color: #ff6347;
}

.team-rank span {
    display: inline-block;
    margin-left: 10px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    width: 55px;
}

.team-score {
    display: flex;
    align-items: center;
}

.team-colored-col-bg {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 auto; 
    margin-bottom: 15px; 
}

.team-score .team-colored-col-fg {
    min-width: 60px;
    padding: 6px;
    border-radius: 4px;
}

.team-col .team-colored-col-fg{
    text-align: center;
}

.team-colored-col-fg {
    font-size: 1.2em;
}

/* University name */
.team-name {
    width: 25vw;
    white-space: nowrap;
    font-size: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.team-name small span {
    font-size: 0.9em;
}

.team-name span {
    font-size: 1.2em;
    font-weight: bold;
}

.team-problems {
    display: flex;
}

.team-problem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(30vw / 9);
}

.bg-solved {
    background-color: #4caf50;
}

.bg-rejected {
    background-color: #ebff6a;
}

.bg-unattempted {
    background-color: #ccc;
}

div.status{
    width: 200px;
}

@media (max-width: 1200px) {
    .team-name {
        width: 30vw;
    }

    .team-problem .team-colored-col-fg {
        font-size: 0;
    }

    .team-problem {
        width: calc(10vw / 9);
    }
}

@media (max-width: 850px) {
    .team-rank span {
        margin-left: 5px;
    }

    .team-name{
        width: 90vw;
    }

    .team-row {
        flex-direction: column;
        align-items: flex-start;
    }

    .team-left, .team-right {
        flex-direction: column;
        align-items: flex-start;
    }

    .team-col {
        margin: 5px 0;
    }

    .team-problem {
        width: calc(60vw / 9);
    }
}
